openapi: 3.2.0
info:
  version: 1.0.0
  title: Core Token Identity API
  contact:
    name: Front Platform
    url: https://community.front.com
  x-source-url: https://dash.readme.com/api/v1/api-registry/1mdfh2oms3ldti1
  x-documentation-url: https://dev.frontapp.com/docs/welcome
  x-last-validated: '2026-08-10'
  x-provenance: first-party — retrieved from the provider's own documentation host
servers:
- url: https://api2.frontapp.com
security:
- http: []
tags:
- name: Token Identity
paths:
  /me:
    get:
      tags:
      - Token Identity
      summary: API Token details
      operationId: api-token-details
      description: Fetch the details of the API token.
      responses:
        '200':
          $ref: '#/components/responses/identity'
components:
  responses:
    identity:
      description: API Token details
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/IdentityResponse'
  schemas:
    IdentityResponse:
      type: object
      required:
      - _links
      - id
      - name
      properties:
        _links:
          type: object
          properties:
            self:
              type: string
              description: Link to resource
              example: https://yourCompany.api.frontapp.com/me
        id:
          type: string
          description: Unique ID of company
          example: cmp_k30
        name:
          type: string
          description: Name of company
          example: Dunder Mifflin Paper Company, Inc.
  securitySchemes:
    http:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-api-id: front
x-explorer-enabled: false
x-proxy-enabled: true
x-samples-enabled: true
