openapi: 3.2.0
info:
  version: 1.0.0
  title: Core Applications API
  contact:
    name: Front Platform
    url: https://community.front.com
  x-source-url: https://dash.readme.com/api/v1/api-registry/1mdfh2oms3ldti1
  x-documentation-url: https://dev.frontapp.com/docs/welcome
  x-last-validated: '2026-08-10'
  x-provenance: first-party — retrieved from the provider's own documentation host
servers:
- url: https://api2.frontapp.com
security:
- http: []
tags:
- name: Applications
paths:
  /applications/{application_uid}/events:
    post:
      summary: Trigger application event
      operationId: trigger-app-event
      description: 'Triggers an event on behalf of an application. These events can trigger Front workflows, like rules.

        For more information, see the [developer docs](https://dev.frontapp.com/docs/application-triggers#/).



        Required scope: `feature:app_trigger`'
      tags:
      - Applications
      parameters:
      - in: path
        name: application_uid
        required: true
        description: The application UID
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppEvent'
      responses:
        '204':
          description: No content
      x-required-scopes:
      - feature:app_trigger
components:
  schemas:
    AppEvent:
      required:
      - event_type
      - app_object
      properties:
        event_type:
          type: string
          description: The type of event this application should handle
        app_object:
          type: object
          description: 'Identifier for the app object to which the event is related. Either an ID or an external link is required.

            If both are provided, the ID will be favored.

            '
          properties:
            id:
              type: string
              description: ID of the app object
            ext_link:
              type: string
              description: External link of the app object
  securitySchemes:
    http:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-api-id: front
x-explorer-enabled: false
x-proxy-enabled: true
x-samples-enabled: true
