openapi: 3.2.0
info:
  version: 1.0.0
  title: Core Attachments API
  contact:
    name: Front Platform
    url: https://community.front.com
  x-source-url: https://dash.readme.com/api/v1/api-registry/1mdfh2oms3ldti1
  x-documentation-url: https://dev.frontapp.com/docs/welcome
  x-last-validated: '2026-08-10'
  x-provenance: first-party — retrieved from the provider's own documentation host
servers:
- url: https://api2.frontapp.com
security:
- http: []
tags:
- name: Attachments
paths:
  /comments/{comment_id}/download/{attachment_link_id}:
    get:
      summary: Download attachment for a comment
      operationId: download-attachment-for-a-comment
      description: 'Download an attachment file for a given comment ID


        Required scope: `attachments:read`'
      tags:
      - Attachments
      parameters:
      - in: path
        name: comment_id
        required: true
        description: The Comment ID
        schema:
          type: string
          default: com_1v3ef
      - in: path
        name: attachment_link_id
        required: true
        description: The Attachment ID
        schema:
          type: string
          default: fil_55c8c149
      responses:
        '200':
          $ref: '#/components/responses/attachment'
      x-required-scopes:
      - attachments:read
  /download/{attachment_link_id}:
    get:
      summary: Download attachment
      operationId: download-attachment
      description: 'Download an attachment file.


        Required scope: `attachments:read`'
      tags:
      - Attachments
      parameters:
      - in: path
        name: attachment_link_id
        required: true
        description: The Attachment ID
        schema:
          type: string
          default: fil_55c8c149
      responses:
        '200':
          $ref: '#/components/responses/attachment'
      x-required-scopes:
      - attachments:read
  /message_templates/{message_template_id}/download/{attachment_link_id}:
    get:
      summary: Download attachment for a message template
      operationId: download-attachment-for-a-message-template
      description: 'Download an attachment file for a given message template ID


        Required scope: `attachments:read`'
      tags:
      - Attachments
      parameters:
      - in: path
        name: message_template_id
        required: true
        description: The Message Template ID
        schema:
          type: string
          default: rsp_1v3ef
      - in: path
        name: attachment_link_id
        required: true
        description: The Attachment ID
        schema:
          type: string
          default: fil_55c8c149
      responses:
        '200':
          $ref: '#/components/responses/attachment'
      x-required-scopes:
      - attachments:read
  /messages/{message_id}/download/{attachment_link_id}:
    get:
      summary: Download attachment for a message
      operationId: download-attachment-for-a-message
      description: 'Download an attachment file for a given message id. Should be used by partner channels.


        Required scope: `attachments:read`'
      tags:
      - Attachments
      parameters:
      - in: path
        name: message_id
        required: true
        description: The Message ID
        schema:
          type: string
          default: msg_12345
      - in: path
        name: attachment_link_id
        required: true
        description: The Attachment ID
        schema:
          type: string
          default: fil_55c8c149
      responses:
        '200':
          $ref: '#/components/responses/attachment'
      x-required-scopes:
      - attachments:read
components:
  responses:
    attachment:
      description: The binary content of the attachment file
      content:
        '*/*':
          schema:
            type: string
            format: binary
      headers:
        Content-Type:
          description: The MIME type of the attachment file
          schema:
            type: string
            example: application/pdf
        Content-Length:
          description: The size of the attachment file in bytes
          schema:
            type: string
            example: '1024'
  securitySchemes:
    http:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-api-id: front
x-explorer-enabled: false
x-proxy-enabled: true
x-samples-enabled: true
